input {
  margin: 6px 8px;
}

button {
  margin: 6px 8px;
}

.info {
  margin: 24px;
}

tbody {
  width: 100%;
  thead {
    tr > th {
      width: 100px;
      padding: 4px;
    }
  }
  td {
    white-space: nowrap;
    width: 100px;
    padding: 4px;
    &.notMoving {
      color: rgb(93, 64, 151);
    }
    &.grow {
      color: red;
    }
    &.drop {
      color: green;
    }
  }
}

.chart {
  width:1800px;
  height: 500px;
  margin-left: 50px;
}
